body, html {
	width: 100%;
	height: 100%;
	font-family: 'Do Hyeon', sans-serif; 
	/*font-family: 'Do Hyeon', 'Open Sans', 'Helvetica Neue', sans-serif;*/

}


.navbar > li.nav-item { 
	margin-right: 10px;
	color: white;
}

header.masthead {
	color: white;
	padding-top: 100px;
	background-image: url('dinner.jpg');
	height: 100%;
	background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


hr {
  max-width: 50px;
  border-width: 3px;
  border-color: orange;
}

.fixed-top.fixednav {
	background-color: white;
	color: black;
	opacity: 0.9;
}

section {
    padding-top: 55px;
    margin-top: -55px;
}

}

section .container{
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: 'Do Hyeon', sans-serif; 
}


.section-heading {
	font-size:30px;
	padding-top:50px;

}


#portfolio .container-fluid {
	background-color: black;
	color: white;
}

.preview {
	background-color: white;
	background-size: cover;
	height: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-image: url('comingsoon.jpg');
	opacity: 0.5;
}

.preview:hover {
	opacity: 1;

}

/* A "dummy" class used to fix issue of fixed navbar hiding content */

#map-container {
  height: 400px;
  width: 400px;
}

footer {
	margin-top: 20px;
	font-size: 12px;
}


