h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

html, 
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}

#my-navbar {
  padding: 20px 0;
  font-size:20px;
}

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  transform: scale(1, 1.25);
}

.jumbotron {
  align-items: center;
  background-image: url('dinner.jpg');
  background-size: cover;
  height:625px;
  color: #ffffff;
}

.jumbotron h1 {
  font-weight: 700;
}

.jumbotron .container {
  margin-top: 40px;
}






section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15 px;
}

section h3.section-subheading {
  font-size: 16px;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 25px;
}

section p {
  font-size: 30px;
  text-align: left;
  padding: 50px 0;
}

#contact {
  background-color: #fff2e7;
}

#contact p {
  text-align: center;
  padding: 0px 0;
}

#resume {
  background-color: #4b4d52;
  color: white;
}

#writing {
  background: #393939;
  color: white;
}

#writing h3 {
  padding: 20px 0;
}

#writing a {
  text-decoration: none;
}

#writing ul, #writing li {
  text-align: left;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

hr {
  border-color: #f05f40;
  border-width: 3px;
  max-width: 50px;
  padding: 20px 0;
}

#bio .colorchange{
  color: #33CCFF;
}


.mypicture {
  border-radius: 50%;
  height: auto;
  width: auto;
  max-width: 400px;
  margin-bottom: 1cm;
}

.glyphicon {
  font-size: 40px;
}

footer {
  padding: 20px 0;
}

footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
