h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.small {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ACA9A0;
}


#name {
  color: #F0F8FF;
  text-shadow: 1px 0px 1px #787777;
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: -5px;
  text-align: center;
  text-shadow: 1px 1px 1px #787777;
  filter: dropshadow(color=#787777, offx=1, offy=1);
  margin: 0 auto;
  width: 100%;
}

#job {
  color: white;
  text-shadow: 1px 0px 1px #787777;
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: -5px;
  text-align: center;
  text-shadow: 1px 1px 1px #787777;
  filter: dropshadow(color=#787777, offx=1, offy=1);
  margin: 0 auto;
  width: 100%;
}

html, 
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}

#my-navbar {
  padding: 15px 0;
  font-size:15px;
  letter-spacing: 1px;
}

.navbar-brand {
  font-size: 25px;
  transform: scale(1, 1.25);
  font-weight: 900;
  letter-spacing: 1px;
}

.jumbotron {
  align-items: center;
  background-image: url('dinner.jpg');
  background-size: cover;
  height: 625px;
}

.jumbotron h1 {
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: -5px;
  line-height: 80px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #787777;
  filter: dropshadow(color=#787777, offx=1, offy=1);
  width: 100%;
}


section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15 px;
}

section h3.section-subheading {
  font-size: 16px;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 25px;
}

.paragraph {
  font-size: 30px;
  text-align: left;
  padding: 50px 0;
}

#contact {
  background-color: #fff2e7;
}

#contact a {
  text-decoration: none;
  color: black;
}

.loc_attributes {
  font-size: 15px;
}

#resume {
  background-color: #4b4d52;
  color: white;
}

#resume a {
  text-decoration: none;
  color: white;
}

.myresume {

}

#writing {
  background: #393939;
  color: white;
}

#writing a {
  text-decoration: none;
}

#writing ul, #writing li {
  text-align: left;
}

.panel {
  background-image: url('paper.jpg'); 
  color:black;
  margin-right: 15%;
  margin-left: 15%;
}

.panel-heading {
  color:#333;
  background-color: #f5f5f5;
  border-color:#ddd;
}


.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

hr {
  border-color: #f05f40;
  border-width: 3px;
  max-width: 50px;
  padding: 20px 0;
}

#bio .colorchange{
  color: #33CCFF;
}


.mypicture {
  border-radius: 50%;
  height: auto;
  width: auto;
  max-width: 400px;
  margin-bottom: 1cm;
}

.framedpicture {
  position: relative;
  width: 300px;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
  margin: 30px;
}

#contact .fa {
  font-size: 30px;
}

.map_text {
  font-size: 15px;
  padding: 0px 0;
  text-align: center;
}

#map-container {
  height: 400px;
  padding: 10px 0;
}

footer {
  padding: 20px 0;
}

footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
